* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.logo {
    width: 250px;
    background-color: #fff;
    border-radius: 20%;
}

section {
    display: block;
    width: 100%;
    gap: 1rem;
}

.title {
    text-align: center;
}